<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ page.full_title }}</title>
    <base href="{{ site.baseurl }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono:300" rel="stylesheet">
    <link rel="stylesheet" href="/css/2018/main.css">
</head>

<body>
    {% include 2018/header.html page=page %}
    <ul>
        {% for post in site.pages %}
        <li>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <script src="bundle.js" type="text/javascript"></script>
</body>

</html>