<div class="row cryptocurrency-summary">
    {% if page.short_form %}
    {% include 2018/summary_item.html condition=page.freedom_of_payments content="Freedom of Payments" %}
    {% include 2018/summary_item.html condition=page.mining content="Mining" %}
    {% include 2018/summary_item.html condition=page.free_to_hold content="Free to Hold" %}
    {% include 2018/summary_item.html condition=page.fraud_resistant content="Fraud Resistant" %}
    {% include 2018/summary_item.html condition=page.no_transaction_fees content="No Transaction Fees" %}
    {% endif %}
</div>