<footer class="container">
    <div class="row center-xs">
        <section class="footer-container row col-md-8 col-xs-12 center-xs">
            <a href="https://github.com/BrunnerLivio/cryptoinfo/issues/new?title=Sheet%20request:%20SHEET_NAME_HERE">Something missing?</a>
            <span>&nbsp;-&nbsp;</span>
            <a href="/donate.html">Donate</a> 
            <span>&nbsp;-&nbsp;</span>
            <span>Made with&nbsp;</span>
            <i class="material-icons md-18 heart-icon">favorite</i>
            <span>&nbsp;by <a href="https://brunnerliv.io">Livio Brunner</a></span>            
        </section>
    </div>
</footer>