{% if page.full_title %}
    {% assign title = page.full_title %}
{% else %}
    {% assign title = 'CryptoInfo - ' | append: page.title  %}
{% endif %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{{ title }}</title>
<base href="{{ site.baseurl }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway|Roboto" rel="stylesheet">