<main class="topic-overview container">
    <div class="row topic-overview-content center-xs">
      {% for category in site.data.categories.names %}
      <section class="category fade-in card col-md-8 col-xs-10 column start-xs">
          <h2>
              {{ category }}
          </h2>
          <ul class="row">
            {% for post in site.pages %}
              {% if post.category == category %} 
                  {% if post.redirect %} 
                    {% assign url = post.redirect %}
                  {% else %} 
                    {% assign url = site.baseurl | append: post.url %}
                  {% endif %} 
                  <li class="col-xs-6">
                    <a href="{{ url }}">{{ post.title }} {% if post.redirect %} <i class="material-icons md-12 open-in-new">open_in_new</i> {% endif %}</a>
                  </li>
              {% endif %} 
            {% endfor %} 
          </ul>
        </section>
      {% endfor %}
    </div>
</main>