.detail-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.detail-card {
  top: -40px;
  position: relative;
  h1, h2, h3, h4, h5 {
    font-family: 'Raleway', sans-serif;
  }
  h1 {
    font-size: 36px;
    :not(:first-child) {
      margin-top: 40px;
    }
  }
  h2 {
    margin-top: 50px;
    padding-bottom: 10px;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
  table {
    font-family: 'Roboto', sans-serif;
    tr {
      td {
        &:not(:first-child){
          padding: 10px;
        }
        padding-right: 15px;
      }
    }
  }
}

.right-nav {
  &:not(:empty){
    padding: 0 30px;
    padding-top: 30px;
    @media only screen and (min-width: $md) {
      padding: 30px;
    }
  }
  label {
    font-size: 14px;
    text-transform: uppercase;
    color: $title-color;
  }
  h2 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
  }
  .weaken {
    color: $weaken-color;
  }
}