.detail-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.detail-card {
  top: -40px;
  position: relative;
  h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
  }
  p {
    font-family: 'Roboto', sans-serif;
  }
}

.right-nav {
  padding: 30px;

  label {
    font-size: 14px;
    text-transform: uppercase;
    color: $title-color;
  }
  h2 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
  }
  .weaken {
    color: $weaken-color;
  }
}