footer {
    margin-top: 30px;
    .footer-container {
        color: $weaken-color;
        padding: 30px;
        text-align: center;
    }
    .heart-icon {
        color: #ca2b3e;
        position: relative;
        top: -5px;
    }
}