$logo_width_md: 400px;
$logo_width_xs: 300px;
.main-header {
    width: 100%;
    height: 250px;
    background: #ca2b3e;
    background: -moz-linear-gradient(left, #ca2b3e 0%, #ec7438 100%);
    background: -webkit-linear-gradient(left, #ca2b3e 0%, #ec7438 100%);
    background: linear-gradient(to right, #ca2b3e 0%, #ec7438 100%);
    &-container {
        width: 100%;
        height: 100%;
    }
    h1 {
        font-family: 'Raleway', sans-serif;
        @media only screen and (min-width: $md) {
            font-size: 40px;
        }
        font-size: 30px;
        color: white;
    }
    .logo {
        @media only screen and (min-width: $md) {
            height: 94 / 617 * $logo_width_md;
            width: $logo_width_md;
        }
        height: 94 / 617 * $logo_width_xs;
        width: $logo_width_xs;
        background-size: 100% 100%;
        background-image: url('/assets/logo_white.png');
        position: relative;
        top: -20px;
    }
    .search-bar-container {
        position: relative;
        top: -30px;
        width: 100%;
    }
    .back {
        .material-icons {
            color: white;
            font-size: 30px;
        }
        position: relative;
        top: 30px;
    }
}