.topic-overview {
    margin-top: 40px;
    &-content{
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .category {
        margin-left: -15px;
        background: white;
        box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
        @media only screen and (min-width: $md) {
            padding: 30px 30px;
        }
        padding: 20px 20px;
        margin-bottom: 20px;
    }
    h2 {
        font-family: 'Raleway', sans-serif;
        color: rgba(0, 0, 0, 0.3);
        @media only screen and (min-width: $md) {
            font-size: 24px;
        }
        @media only screen and (min-width: $md) {
            padding-bottom: 30px;
        }
        padding-bottom: 20px;
        font-size: 20px;
    }
    ul {
        li {
            margin-bottom: 7px;
            a {
                color: $text-color;
                text-decoration: none;
                font-family: 'Roboto Mono', monospace;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}