.topic-overview {
    margin-top: 40px;
    h2 {
        font-family: 'Raleway', sans-serif;
        color: rgba(0, 0, 0, 0.3);
        font-size: 24px;
        margin: 30px 0;
    }
    ul {
        margin-left: 10px;
        li {
            margin-bottom: 7px;
            a {
                color: $text-color;
                text-decoration: none;
                font-family: 'Roboto Mono', monospace;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}