body {
    background: $background;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Raleway', sans-serif;
    color: $title-color;
    padding-bottom: 10px;
    @media only screen and (min-width: $md) {
        padding-bottom: 20px;
    }
}

h2 {
    font-size: 20px;
    @media only screen and (min-width: $md) {
        font-size: 24px;
    }
}

p {
    color: $text-color;
    font-size: 16px;
    line-height: 16 * 1.618px;
}